* {
  font-family: 'Arial', sans-serif;
}

body {
  margin: 0;
}

.page {
  min-height: 100vh;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
}

header button {
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

form {
  display: flex;
  gap: 1rem;
}

form button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.dark {
  background-color: #333;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #000;
}